* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
}

.headerImg{
  position:absolute;
  top:0;
  width:100vw;
  height:400px;
  background-image: url(/public/images/bergen.jpg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  z-index:9;
}

.headerImg h1{
  position: absolute;
  font-size:70px;
  color:white;
  text-align: center;
}

.navbar {
  position: relative;
  background-color: rgba(255, 245, 245, 0.3);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  background: rgba(0, 0, 0, 0.336);
  height:0;
  width: 100vw;
  overflow: hidden;
  max-width: 100vw;
  max-height:150vh;
  z-index: 9;
  transition:200ms;
  
}

.menuNav.showMenu {
  height:150vh;
  
}

.menuNavLeft {
  overflow-y: scroll;
  list-style: none;
  background: rgba(0, 0, 0, 0.336);
  height:0;
  width: 100vw;
  overflow: hidden;
  max-width: 100vw;
  max-height:150vh;
  z-index: 9;
  transition:200ms;
  
}

.menuNavLeft .showMenuLeft {
  height:150vh;
}

.navLinks{
  width:100px;
  height:200px;
  position: absolute;
  top:50px;
  right:0px;
  visibility: hidden;
  transition: 200ms;
  text-align: center;
}

.navLinks a{
  text-decoration: none;
  font-weight: bold;
  color:white;
}

.showMenu .navLinks{
  visibility: visible;
  transition: 500ms;
}

.navLinks:hover{
  font-size: 1.1em;
  font-weight: bold;
  text-decoration:underline;
  transition: 500ms;
}

.navbar .navbarImages {
  display: inline;
}

.menuNav img {
  position: absolute;
}

.navArrow {
  left: 35px;
  width: 15px;
  height: 10px;
  top: 15px;
}

.hamburger {
  z-index: 1;
  left: 390px;
  width: 24px;
  height: 24px;
  top: 7px;
}

.hamburger:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
 
}

.hamburger:active{
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
  transform:scale(1.2)
}

.showMenu .hamburger:active{
  filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
  transform:scale(1.2)
}

.showMenu .hamburger:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
}

.bell {
  left: 350px;
  width: 19px;
  height: 19px;
  top: 9px;
}
